# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/unt_practicas?schema=public"

# JWT
JWT_SECRET="supersecretkeychangeinproduction"
JWT_EXPIRES_IN="7d"

# App
PORT=4000
NODE_ENV="development"

# Frontend URL (para CORS)
FRONTEND_URL="http://localhost:3000"

# Email (opcional)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""